@page "/JhIdentity"
@using Microsoft.Extensions.Localization
@using global::Jh.Abp.JhIdentity.Localization
@inject IStringLocalizer<JhIdentityResource> L
@{
}
<h1>JhIdentity</h1>
<p>@L["SamplePageMessage"]</p>