@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@inject IThemeManager ThemeManager
@{
    //Layout = ThemeManager.CurrentTheme.GetAccountLayout();
    Layout = "~/Pages/Layouts/Account.cshtml";
}

@section styles{
    @await RenderSectionAsync("styles", false)
}
<div class="abp-account-container">
    @RenderBody()
</div>

@section scripts{
    @await RenderSectionAsync("scripts", false)
}