@page
@using Microsoft.Extensions.Localization
@using Jh.Abp.Workflow.Localization
@using Jh.Abp.Workflow.Web.Pages.Workflow
@model Jh.Abp.Workflow.Web.Pages.Workflow.IndexModel
@inject IStringLocalizer<WorkflowResource> L

@{
}
<h1>Workflow</h1>
<p>@L["SamplePageMessage"]</p>
