@page "/Workflow"
@using Microsoft.Extensions.Localization
@using global::Jh.Abp.Workflow.Localization
@inject IStringLocalizer<WorkflowResource> L
@{
}
<h1>Workflow</h1>
<p>@L["SamplePageMessage"]</p>