@page
@using Microsoft.Extensions.Localization
@using Jh.Abp.Pay.Localization
@using Jh.Abp.Pay.Web.Pages.Pay
@model Jh.Abp.Pay.Web.Pages.Pay.IndexModel
@inject IStringLocalizer<PayResource> L

@{
}
<h1>Pay</h1>
<p>@L["SamplePageMessage"]</p>
