@page
@using Microsoft.Extensions.Localization
@using Jh.Abp.JhIdentity.Localization
@using Jh.Abp.JhIdentity.Web.Pages.JhIdentity
@model Jh.Abp.JhIdentity.Web.Pages.JhIdentity.IndexModel
@inject IStringLocalizer<JhIdentityResource> L

@{
}
<h1>JhIdentity</h1>
<p>@L["SamplePageMessage"]</p>
