@page "/YourProjectName"
@using Microsoft.Extensions.Localization
@using global::YourCompany.YourProjectName.Localization
@inject IStringLocalizer<YourProjectNameResource> L
@{
}
<h1>YourProjectName</h1>
<p>@L["SamplePageMessage"]</p>