@page
@using Microsoft.Extensions.Localization
@using Jh.Abp.JhPermission.Localization
@using Jh.Abp.JhPermission.Web.Pages.JhPermission
@model Jh.Abp.JhPermission.Web.Pages.JhPermission.IndexModel
@inject IStringLocalizer<JhPermissionResource> L

@{
}
<h1>JhPermission</h1>
<p>@L["SamplePageMessage"]</p>
