@page
@using Microsoft.Extensions.Localization
@using YourCompany.YourProjectName.Localization
@using YourCompany.YourProjectName.Web.Pages.YourProjectName
@model YourCompany.YourProjectName.Web.Pages.YourProjectName.IndexModel
@inject IStringLocalizer<YourProjectNameResource> L

@{
}
<h1>YourProjectName</h1>
<p>@L["SamplePageMessage"]</p>
