@page
@using Microsoft.Extensions.Localization
@using Jh.Abp.JhMenu.Localization
@using Jh.Abp.JhMenu.Web.Pages.JhMenu
@model Jh.Abp.JhMenu.Web.Pages.JhMenu.IndexModel
@inject IStringLocalizer<JhMenuResource> L

@{
}
<h1>JhMenu</h1>
<p>@L["SamplePageMessage"]</p>
