@page "/JhPermission"
@using Microsoft.Extensions.Localization
@using global::Jh.Abp.JhPermission.Localization
@inject IStringLocalizer<JhPermissionResource> L
@{
}
<h1>JhPermission</h1>
<p>@L["SamplePageMessage"]</p>